In [1]:
import pandas as pd

In [2]:
일평균=pd.read_excel('일별평균대기오염도_2018.xlsx')

In [9]:
일평균.head(2)

,측정일시,측정소명,이산화질소농도(ppm),오존농도(ppm),이산화탄소농도(ppm),아황산가스(ppm),미세먼지(㎍/㎥),초미세먼지(㎍/㎥)
0,20180101,강남구,0.033,0.010,0.6,0.006,34.0,22.0
1,20180101,강남대로,0.040,0.007,0.8,0.006,NaN,17.0

In [6]:
dataf=pd.read_csv('news.csv',index_col=0)

In [7]:
dataf.head(2)

,date,content,name,title,url
0,2018-01-01,무술년 첫날 청명내일밤 슈퍼문 “소원 빌어보세요” 뉴스리뷰 앵커 힘차게 떠오르는 ...,연합뉴스,무술년 첫날 청명…내일밤 슈퍼문 “소원 빌어보세요”,http://www.yonhapnewstv.co.kr/MYH2018010101460...
1,2018-01-01,날씨 새해 첫 출근날 맑고 쌀쌀찬바람 쌩쌩 새해 첫날인 오늘 종일 안개와 미세먼지 ...,연합뉴스,[날씨] 새해 첫 출근날 맑고 쌀쌀…찬바람 쌩쌩,http://www.yonhapnewstv.co.kr/MYH2018010101000...

In [11]:
df.columns

Index(['date', 'content', 'name', 'title', 'url'], dtype='object')

In [13]:
data.head(2)

,측정일시,측정소명,이산화질소농도(ppm),오존농도(ppm),이산화탄소농도(ppm),아황산가스(ppm),미세먼지(㎍/㎥),초미세먼지(㎍/㎥)
0,20180101,강남구,0.033,0.010,0.6,0.006,34.0,22.0
1,20180101,강남대로,0.040,0.007,0.8,0.006,NaN,17.0

In [25]:
data=pd.read_csv('labeling.csv',index_col=0)

In [26]:
data

           측정일시  측정소명  pm10  pm2.5  label_pm10  label_pm2.5
11     20180101   노원구  42.0   21.0           0            0
18     20180101  서대문구   NaN    NaN           0            0
31     20180101   종로구  34.0   17.0           0            0
50     20180102   노원구  41.0   22.0           0            0
57     20180102  서대문구   NaN    NaN           0            0
70     20180102   종로구  36.0   22.0           0            0
89     20180103   노원구  36.0   19.0           0            0
96     20180103  서대문구   NaN    NaN           0            0
109    20180103   종로구  31.0   19.0           0            0
128    20180104   노원구  47.0   26.0           0            0
135    20180104  서대문구   NaN    NaN           0            0
148    20180104   종로구  39.0   24.0           0            0
167    20180105   노원구  63.0   40.0           0            0
174    20180105  서대문구   NaN    NaN           0            0
187    20180105   종로구  51.0   35.0           0            0
206    20180106   노원구  49.0   31.0           0            0
213    20180106  서대문구   NaN    NaN           0            0
226    20180106   종로구  38.0   27.0           0            0
245    20180107   노원구  57.0   39.0           0            0
252    20180107  서대문구   NaN    NaN           0            0
265    20180107   종로구  47.0   36.0           0            0
284    20180108   노원구  61.0   43.0           0            0
291    20180108  서대문구   NaN    NaN           0            0
304    20180108   종로구  49.0   37.0           0            0
323    20180109   노원구  42.0   20.0           0            0
330    20180109  서대문구   NaN    NaN           0            0
343    20180109   종로구  37.0   19.0           0            0
362    20180110   노원구  34.0   13.0           0            1
369    20180110  서대문구   NaN    NaN           0            0
382    20180110   종로구  27.0   13.0           1            1
...         ...   ...   ...    ...         ...          ...
12001  20181222   노원구  91.0   66.0           0            0
12009  20181222  서대문구  81.0   64.0           0            0
12024  20181222   종로구  81.0   56.0           0            0
12047  20181223   노원구  58.0   35.0           0            0
12055  20181223  서대문구  54.0   30.0           0            0
12070  20181223   종로구  48.0   27.0           0            0
12093  20181224   노원구  23.0   15.0           1            1
12101  20181224  서대문구  22.0   13.0           1            1
12116  20181224   종로구  21.0   11.0           1            1
12139  20181225   노원구  36.0   24.0           0            0
12147  20181225  서대문구  33.0   22.0           0            0
12162  20181225   종로구  35.0   20.0           0            0
12185  20181226   노원구  50.0   29.0           0            0
12193  20181226  서대문구  56.0   29.0           0            0
12208  20181226   종로구  49.0   26.0           0            0
12231  20181227   노원구  30.0   13.0           1            1
12239  20181227  서대문구  30.0    8.0           1            1
12254  20181227   종로구  26.0    9.0           1            1
12277  20181228   노원구  37.0   15.0           0            1
12285  20181228  서대문구  38.0   14.0           0            1
12300  20181228   종로구  33.0   13.0           0            1
12323  20181229   노원구  38.0   13.0           0            1
12331  20181229  서대문구  44.0    9.0           0            1
12346  20181229   종로구  36.0    9.0           0            1
12369  20181230   노원구  37.0   22.0           0            0
12377  20181230  서대문구  33.0   19.0           0            0
12392  20181230   종로구  30.0   15.0           1            1
12415  20181231   노원구  55.0   37.0           0            0
12423  20181231  서대문구  43.0   27.0           0            0
12438  20181231   종로구  45.0   29.0           0            0

[927 rows x 6 columns]

In [27]:
no_data = data[data['측정소명']=='노원구']

In [28]:
jong_data = data[data['측정소명']=='종로구']

In [29]:
seo_data = data[data['측정소명']=='서대문구']

In [30]:
label_data = pd.DataFrame(columns=["date","label_pm10","label_pm2.5"])

In [31]:
no_data.head(2)

        측정일시 측정소명  pm10  pm2.5  label_pm10  label_pm2.5
11  20180101  노원구  42.0   21.0           0            0
50  20180102  노원구  41.0   22.0           0            0

In [32]:
jong_data.head(2)

        측정일시 측정소명  pm10  pm2.5  label_pm10  label_pm2.5
31  20180101  종로구  34.0   17.0           0            0
70  20180102  종로구  36.0   22.0           0            0

In [33]:
seo_data.head(2)

        측정일시  측정소명  pm10  pm2.5  label_pm10  label_pm2.5
18  20180101  서대문구   NaN    NaN           0            0
57  20180102  서대문구   NaN    NaN           0            0

In [34]:
label_data.head(2)

Empty DataFrame
Columns: [date, label_pm10, label_pm2.5]
Index: []

In [35]:
df=pd.DataFrame()
df=pd.merge(no_data,jong_data,how='outer',on='측정일시')

In [36]:
df.head(2)

,측정일시,측정소명_x,pm10_x,pm2.5_x,label_pm10_x,label_pm2.5_x,측정소명_y,pm10_y,pm2.5_y,label_pm10_y,label_pm2.5_y
0,20180101,노원구,42.0,21.0,0,0,종로구,34.0,17.0,0,0
1,20180102,노원구,41.0,22.0,0,0,종로구,36.0,22.0,0,0

In [39]:
df['측정일시'].unique()

array([20180101, 20180102, 20180103, 20180104, 20180105, 20180106,
       20180107, 20180108, 20180109, 20180110, 20180111, 20180112,
       20180113, 20180114, 20180115, 20180116, 20180117, 20180118,
       20180119, 20180120, 20180121, 20180122, 20180123, 20180124,
       20180125, 20180126, 20180127, 20180128, 20180129, 20180130,
       20180131, 20180201, 20180202, 20180203, 20180204, 20180205,
       20180206, 20180207, 20180208, 20180209, 20180210, 20180211,
       20180212, 20180213, 20180214, 20180215, 20180216, 20180218,
       20180219, 20180220, 20180221, 20180222, 20180223, 20180224,
       20180225, 20180226, 20180227, 20180228, 20180301, 20180302,
       20180303, 20180304, 20180305, 20180306, 20180307, 20180308,
       20180309, 20180310, 20180311, 20180312, 20180313, 20180314,
       20180315, 20180316, 20180317, 20180318, 20180319, 20180320,
       20180409, 20180410, 20180411, 20180412, 20180413, 20180414,
       20180415, 20180416, 20180417, 20180418, 20180419, 20180421,
       20180422, 20180423, 20180424, 20180425, 20180426, 20180427,
       20180428, 20180429, 20180430, 20180501, 20180502, 20180503,
       20180504, 20180505, 20180506, 20180507, 20180508, 20180509,
       20180510, 20180511, 20180512, 20180513, 20180514, 20180515,
       20180516, 20180517, 20180520, 20180521, 20180527, 20180528,
       20180601, 20180602, 20180604, 20180605, 20180622, 20180626,
       20180630, 20180701, 20180702, 20180703, 20180706, 20180707,
       20180708, 20180709, 20180710, 20180711, 20180712, 20180713,
       20180714, 20180715, 20180716, 20180717, 20180718, 20180719,
       20180720, 20180721, 20180722, 20180723, 20180724, 20180725,
       20180726, 20180727, 20180728, 20180729, 20180730, 20180731,
       20180801, 20180802, 20180803, 20180804, 20180805, 20180806,
       20180807, 20180808, 20180809, 20180810, 20180811, 20180812,
       20180813, 20180814, 20180815, 20180816, 20180817, 20180818,
       20180819, 20180820, 20180821, 20180822, 20180823, 20180824,
       20180825, 20180826, 20180827, 20180828, 20180829, 20180830,
       20180831, 20180901, 20180902, 20180903, 20180904, 20180905,
       20180906, 20180907, 20180908, 20180909, 20180910, 20180911,
       20180912, 20180913, 20180914, 20180915, 20180916, 20180917,
       20180918, 20180919, 20180920, 20180921, 20180922, 20180923,
       20180924, 20180925, 20180926, 20180927, 20180928, 20180929,
       20180930, 20181001, 20181002, 20181003, 20181004, 20181005,
       20181006, 20181007, 20181008, 20181009, 20181010, 20181011,
       20181012, 20181013, 20181014, 20181015, 20181016, 20181017,
       20181018, 20181019, 20181020, 20181021, 20181022, 20181023,
       20181024, 20181025, 20181026, 20181027, 20181028, 20181029,
       20181030, 20181031, 20181101, 20181102, 20181103, 20181104,
       20181105, 20181106, 20181107, 20181108, 20181109, 20181110,
       20181111, 20181112, 20181113, 20181114, 20181115, 20181116,
       20181117, 20181118, 20181119, 20181120, 20181121, 20181122,
       20181123, 20181124, 20181125, 20181126, 20181127, 20181128,
       20181129, 20181130, 20181201, 20181202, 20181203, 20181204,
       20181205, 20181206, 20181207, 20181208, 20181209, 20181210,
       20181211, 20181212, 20181213, 20181214, 20181215, 20181216,
       20181217, 20181218, 20181219, 20181220, 20181221, 20181222,
       20181223, 20181224, 20181225, 20181226, 20181227, 20181228,
       20181229, 20181230, 20181231], dtype=int64)

In [95]:
df2=pd.DataFrame()
df2['no_pm10']=df['pm10_x']
df2['jong_pm10']=df['pm10_y']

df3=pd.DataFrame()
df3['no_pm2.5']=df['pm2.5_x']
df3['jong_pm2.5']=df['pm2.5_y']

In [96]:
df2.head(2)

   no_pm10  jong_pm10
0     42.0       34.0
1     41.0       36.0

In [97]:
df3.head(2)

   no_pm2.5  jong_pm2.5
0      21.0        17.0
1      22.0        22.0

In [98]:
df3['avg']=df3.mean(axis=1)

In [99]:
df2['avg']=df2.mean(axis=1)

In [100]:
df2.head(2)

   no_pm10  jong_pm10   avg
0     42.0       34.0  38.0
1     41.0       36.0  38.5

In [101]:
df3.head(2)

   no_pm2.5  jong_pm2.5   avg
0      21.0        17.0  19.0
1      22.0        22.0  22.0

In [103]:
df2['label_pm10']=0
df3['label_pm2.5']=0

df2['label_pm10'][df2['avg']<= 30]=1

df3['label_pm2.5'][df3['avg']<= 15]=1

df2['label_pm10'][(df2['avg']<= 80) & (df2['avg']>=31)]=0
df3['label_pm2.5'][(df3['avg']<= 35) & (df3['avg']>=16)]=0

df2['label_pm10'][df2['avg']>= 81]=-1
df3['label_pm2.5'][df3['avg']>= 36]=-1

C:\Users\Jungsk\AppData\Local\conda\conda\envs\study\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Jungsk\AppData\Local\conda\conda\envs\study\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Jungsk\AppData\Local\conda\conda\envs\study\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Jungsk\AppData\Local\conda\conda\envs\study\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Jungsk\AppData\Local\conda\conda\envs\study\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Jungsk\AppData\Local\conda\conda\envs\study\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [104]:
df2.head(5)

   no_pm10  jong_pm10   avg  label_pm10
0     42.0       34.0  38.0           0
1     41.0       36.0  38.5           0
2     36.0       31.0  33.5           0
3     47.0       39.0  43.0           0
4     63.0       51.0  57.0           0

In [83]:
df2['date'].value_counts()

20180104.0    1
20180106.0    1
20180101.0    1
20180108.0    1
20180103.0    1
20180105.0    1
20180107.0    1
20180102.0    1
Name: date, dtype: int64

In [79]:
len(df2)

309

In [78]:
df3.head(2)

   no_pm2.5  jong_pm2.5   avg  label_pm2.5
0      21.0        17.0  19.0            0
1      22.0        22.0  22.0            0

In [105]:
date=pd.merge(no_data['측정일시'],jong_data['측정일시'],how='outer',on='측정일시')

In [106]:
df2['date']=date

In [107]:
df3['date']=date

In [108]:
df3.head(4)

   no_pm2.5  jong_pm2.5   avg  label_pm2.5      date
0      21.0        17.0  19.0            0  20180101
1      22.0        22.0  22.0            0  20180102
2      19.0        19.0  19.0            0  20180103
3      26.0        24.0  25.0            0  20180104

In [91]:
df2.columns

Index(['no_pm10', 'jong_pm10', 'avg', 'label_pm10', 'date'], dtype='object')

In [92]:
df3.columns

Index(['no_pm2.5', 'jong_pm2.5', 'avg', 'label_pm2.5', 'date'], dtype='object')

df2=df2.reindex(index=['date','no_pm10', 'jong_pm10', 'avg', 'label_pm10'])
df3=df3.reindex(index=['date','no_pm2.5', 'jong_pm2.5', 'avg', 'label_pm2.5'])

In [109]:
df2.head(4)

   no_pm10  jong_pm10   avg  label_pm10      date
0     42.0       34.0  38.0           0  20180101
1     41.0       36.0  38.5           0  20180102
2     36.0       31.0  33.5           0  20180103
3     47.0       39.0  43.0           0  20180104

In [116]:
df4=df2.set_index('date')

In [119]:
df4.to_csv('미세먼지.csv')

In [117]:
df5=df3.set_index('date')

In [120]:
df5.to_csv('초미세먼지.csv')

In [115]:
df3.head(2)

   no_pm2.5  jong_pm2.5   avg  label_pm2.5      date
0      21.0        17.0  19.0            0  20180101
1      22.0        22.0  22.0            0  20180102

In [75]:
df2['label_pm10'].value_counts()

 0    168
 1    130
-1     11
Name: label_pm10, dtype: int64

In [76]:
df3['label_pm2.5'].value_counts()

 0    150
 1    119
-1     40
Name: label_pm2.5, dtype: int64

In [73]:
df2=df2.drop('label_pm2.5',axis=1)

In [77]:
df2.to_csv('label_pm25.csv')
df3.to_csv('label_pm10.csv')

In [56]:
def Label(df,pm):
    df['label_pm10']=0
    df['label_pm2.5']=0
    
    df['label_pm10'][df['pm10']<= 30]=1

    df['label_pm2.5'][df['pm2.5']<= 15]=1

    df['label_pm10'][(df['pm10']<= 80) & (data['pm10']>=31)]=0
    df['label_pm2.5'][(df['pm2.5']<= 35) & (data['pm2.5']>=16)]=0

    df['label_pm10'][df['pm10']>= 81]=-1
    df['label_pm2.5'][df['pm2.5']>= 36]=-1
    return df

In [61]:
def Mi_Label(df,pm):#미세먼지
    df['label_pm10']=0
    #df['label_pm2.5']=0
    
    df['label_pm10'][df[pm]<= 30]=1

    #df['label_pm2.5'][df['pm2.5']<= 15]=1

    df['label_pm10'][(df[pm]<= 80) & (data[pm]>=31)]=0
    #df['label_pm2.5'][(df['pm2.5']<= 35) & (data['pm2.5']>=16)]=0

    df['label_pm10'][df[pm]>= 81]=-1
    #df['label_pm2.5'][df['pm2.5']>= 36]=-1
    return df

In [66]:
Mi_Label(df2,'avg')

C:\Users\Jungsk\AppData\Local\conda\conda\envs\study\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

KeyError: 'avg'

In [59]:
def Cho_Label(df,pm):#미세먼지
#    df['label_pm10']=0
    df['label_pm2.5']=0
    
 #   df['label_pm10'][df['pm10']<= 30]=1

    df['label_pm2.5'][df[pm]<= 15]=1

  #  df['label_pm10'][(df['pm10']<= 80) & (data['pm10']>=31)]=0
    df['label_pm2.5'][(df[pm]<= 35) & (data[pm]>=16)]=0

   # df['label_pm10'][df['pm10']>= 81]=-1
    df['label_pm2.5'][df[pm]>= 36]=-1
    return df

In [63]:
Cho_Label(df3,'avg')

C:\Users\Jungsk\AppData\Local\conda\conda\envs\study\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

KeyError: 'avg'