## 미세먼지 데이터 전처리

In [1]:
import pandas
import os
from os import listdir
from os.path import isfile, join
import pandas as pd
import pathlib
def read_csv_infolder(source_folder):
    csv_files = [f for f in listdir(source_folder) if isfile(join(source_folder, f))]
    new_list = []
    for i,v in enumerate(csv_files):
        new_dict ={}
        if 'txt' in v:
            new_dict['sub'] = pd.read_csv(r'{}\{}'.format(source_folder,v),sep = '\t',encoding = 'utf-8')
            new_dict['title'] = v
            new_list.append(new_dict)
        elif 'csv' in v:
            new_dict['sub'] = pd.read_csv(r'{}\{}'.format(source_folder,v),sep = '|',encoding = 'utf-8')
            new_dict['title'] = v
            new_list.append(new_dict)
    new_df = pd.DataFrame(new_list)
    return new_df

### 노원구 데이터 전처리

In [2]:
### 경로를 지정
title = read_csv_infolder(r'C:\Users\dty\Desktop\미세먼지_공모전용\노원구')
### 저장된 파일이 있을시에 삭제
file = pathlib.Path(r'C:\Users\dty\Desktop\미세먼지_공모전용\노원구_원본.csv')
if os.path.isfile(file):
    os.remove(file)
### 파일들을 하나로 합치기 
for idx in range(0, len(title.title)):
    temp = title.title[idx]
    v1 = pd.read_csv(r'C:\Users\dty\Desktop\미세먼지_공모전용\노원구\{}'.format(temp),sep=',',index_col=10)
    if file.exists() == False:
        v1.to_csv(r'C:\Users\dty\Desktop\미세먼지_공모전용\노원구_원본.csv', mode = 'a')
    else:
        v1.to_csv(r'C:\Users\dty\Desktop\미세먼지_공모전용\노원구_원본.csv', mode = 'a', header=False)

In [3]:
### 파일 불러오기
df = pd.read_csv(r'C:\Users\dty\Desktop\미세먼지_공모전용\노원구_원본.csv',index_col=0)

C:\Users\dty\.conda\envs\June\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
###전처리(결측치 제거)
df= df.drop(columns = 'co2').drop(columns = 'vocs').drop(columns = 'flag')
df['pm25'] = pd.to_numeric(df.pm25)
df['pm10'] = pd.to_numeric(df.pm10)
df['tm'] = pd.to_numeric(df.tm)
df['noise'] = pd.to_numeric(df.noise)
df['humi'] = pd.to_numeric(df.humi)
df['temp'] = pd.to_numeric(df.temp)
df = df[df['noise'] != -9999]
df = df[df['temp'] != -9999.0]
df = df[df['humi'] != -9999]
df = df[df['pm25'] != -999]
df = df[df['pm10'] != -999]
df = df[df.pm25 <= 3000]  #3000 보다 큰 값들이 앞뒤의 값들과 차이가 크기 때문에 이상치로 판단
df = df.reset_index(drop=True)

### 시간별로 평균값 구하기

In [6]:
def date_h_cuter(dates):
    datelist=[]
    for idx in dates:
        date = str(idx)
        datelist.append(date[:10])
    return datelist

In [7]:
df['date_hourly'] = date_h_cuter(df.tm)
df['date_hourly'] = pd.to_datetime(df['date_hourly'], format='%Y%m%d%H', errors='ignore')
df.index = df.date_hourly
df = df.sort_index()

In [8]:
df = df.drop(columns='date_hourly')

In [10]:
###seiral 시간별 평균값 
file = pathlib.Path(r'C:\Users\dty\Desktop\미세먼지_공모전용\노원구_pm_hourly.csv')
if os.path.isfile(file):
    os.remove(file)
for idx in df.serial.unique():
    df_mean = df[df['serial'] == '{}'.format(idx)].reset_index().groupby('date_hourly').mean().reset_index().copy().drop(columns = 'tm')
    df_mean['serial'] = idx
    if file.exists() == False:
        df_mean.to_csv(r'C:\Users\dty\Desktop\미세먼지_공모전용\노원구_pm_hourly.csv', mode = 'a')
    else:
        df_mean.to_csv(r'C:\Users\dty\Desktop\미세먼지_공모전용\노원구_pm_hourly.csv', mode = 'a', header=False)

In [11]:
data_hourly = pd.read_csv(r'C:\Users\dty\Desktop\미세먼지_공모전용\노원구_pm_hourly.csv', index_col=0).reset_index(drop=True)

### 센서를 동별로 분류

In [19]:
station = """V10O1610610
V10O1610376
V10O1610293
V10O1610356
V10O1610616
V10O1610200
V10O1610643
V10O1610642
V10O1610297
V10O1610312
V10O1610102
V10O1610351
V10O1610629
V10O1610630
V10O1611104
V10O1611097
V10O1611100
V10O1612126
V10O1611102
V10O1611652
V10O1611150
V10O1611229"""
station= station.split('\n')

In [20]:
station_kor ="""하계1동
상계6,7동
상계10동
상계1동
상계2동
상계2동
월계3동
공릉2동
상계5동
상계2동
하계1동
상계6,7동
공릉1동
공릉1동
상계6,7동
중계2,3동
상계2동
중계본동
상계5동
공릉2동
상계3,4동
월계1동"""
station_kor= station_kor.split('\n')

In [21]:
station_with_names = []
for idx in range(0, len(station)):
    station_with_names.append([station[idx],station_kor[idx]])

In [22]:
data_hourly['동'] = ''

In [23]:
###serial기반 동 컬럼 추가
file = pathlib.Path(r'C:\Users\dty\Desktop\미세먼지_공모전용\미세먼지_hourly_동_v1.csv')
if os.path.isfile(file):
    os.remove(file)
for idx in data_hourly.serial.unique():
    for idx2 in station_with_names:
        if idx in idx2:
            temp = data_hourly[data_hourly['serial']==str(idx)]
            temp['동'] = idx2[1]
            if file.exists() == False:
                temp.to_csv(r'C:\Users\dty\Desktop\미세먼지_공모전용\미세먼지_hourly_동_v1.csv', mode = 'a')
            else:
                temp.to_csv(r'C:\Users\dty\Desktop\미세먼지_공모전용\미세먼지_hourly_동_v1.csv', mode = 'a', header=False)

C:\Users\dty\.conda\envs\June\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [27]:
data_hourly = pd.read_csv(r'C:\Users\dty\Desktop\미세먼지_공모전용\미세먼지_hourly_동_v1.csv', index_col = 0)

In [29]:
###동별 시간별 평균값
file = pathlib.Path(r'C:\Users\dty\Desktop\미세먼지_공모전용\미세먼지_hourly_동_v2.csv')
if os.path.isfile(file):
    os.remove(file)
for idx in data_hourly.동.unique():
    df_mean = data_hourly[data_hourly['동'] == '{}'.format(idx)].groupby('date_hourly').mean().reset_index().copy()
    df_mean['동'] = idx
    if file.exists() == False:
        df_mean.to_csv(r'C:\Users\dty\Desktop\미세먼지_공모전용\미세먼지_hourly_동_v2.csv', mode = 'a')
    else:
        df_mean.to_csv(r'C:\Users\dty\Desktop\미세먼지_공모전용\미세먼지_hourly_동_v2.csv', mode = 'a', header=False)

In [34]:
data_hourly = pd.read_csv(r'C:\Users\dty\Desktop\미세먼지_공모전용\미세먼지_hourly_동_v2.csv', index_col = 0).reset_index(drop=True)

### 일별로 평균값 구하기

In [37]:
def date_cuter(dates):
    datelist=[]
    for idx in dates:
        date = str(idx)
        datelist.append(date[:8])
    return datelist

In [38]:
df['date_daily'] = date_cuter(df.tm)
df.index = df.date_daily
df = df.sort_index()
df = df.drop(columns = 'date_daily')

In [39]:
### serial 일별 평균값 
file = pathlib.Path(r'C:\Users\dty\Desktop\미세먼지_공모전용\노원구_daily_v1_08_22.csv')
if os.path.isfile(file):
    os.remove(file)
for idx in df.serial.unique():
    df_mean = df[df['serial'] == '{}'.format(idx)].reset_index().groupby('date_daily').mean().reset_index().copy().drop(columns = 'tm')
    df_mean['serial'] = idx
    if file.exists() == False:
        df_mean.to_csv(r'C:\Users\dty\Desktop\미세먼지_공모전용\노원구_daily_v1_08_22.csv', mode = 'a')
    else:
        df_mean.to_csv(r'C:\Users\dty\Desktop\미세먼지_공모전용\노원구_daily_v1_08_22.csv', mode = 'a', header=False)

In [40]:
date_daily = pd.read_csv(r'C:\Users\dty\Desktop\미세먼지_공모전용\노원구_daily_v1_08_22.csv', index_col=0).reset_index(drop=True)

In [41]:
date_daily['동'] = ''

In [44]:
###serial기반 동 컬럼 추가
file = pathlib.Path(r'C:\Users\dty\Desktop\미세먼지_공모전용\미세먼지_daily_동_v1.csv')
if os.path.isfile(file):
    os.remove(file)
for idx in date_daily.serial.unique():
    for idx2 in station_with_names:
        if idx in idx2:
            temp = date_daily[date_daily['serial']==str(idx)]
            temp['동'] = idx2[1]
            if file.exists() == False:
                temp.to_csv(r'C:\Users\dty\Desktop\미세먼지_공모전용\미세먼지_daily_동_v1.csv', mode = 'a')
            else:
                temp.to_csv(r'C:\Users\dty\Desktop\미세먼지_공모전용\미세먼지_daily_동_v1.csv', mode = 'a', header=False)

C:\Users\dty\.conda\envs\June\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [45]:
date_daily = pd.read_csv(r'C:\Users\dty\Desktop\미세먼지_공모전용\미세먼지_daily_동_v1.csv', index_col = 0)

In [48]:
###동별 일별 평균값
file = pathlib.Path(r'C:\Users\dty\Desktop\미세먼지_공모전용\미세먼지_daily_동_v2.csv')
if os.path.isfile(file):
    os.remove(file)
for idx in date_daily.동.unique():
    df_mean = date_daily[date_daily['동'] == '{}'.format(idx)].groupby('date_daily').mean().reset_index().copy()
    df_mean['동'] = idx
    if file.exists() == False:
        df_mean.to_csv(r'C:\Users\dty\Desktop\미세먼지_공모전용\미세먼지_daily_동_v2.csv', mode = 'a')
    else:
        df_mean.to_csv(r'C:\Users\dty\Desktop\미세먼지_공모전용\미세먼지_daily_동_v2.csv', mode = 'a', header=False)

In [51]:
date_daily = pd.read_csv(r'C:\Users\dty\Desktop\미세먼지_공모전용\미세먼지_daily_동_v2.csv', index_col = 0).reset_index(drop=True)

In [52]:
date_daily

,date_daily,pm10,noise,temp,humi,pm25,동
0,20180401,66.173190,43.212724,16.750779,57.037444,34.259229,상계5동
1,20180402,67.927270,43.475027,19.843902,58.208500,28.146785,상계5동
2,20180403,69.850694,43.329861,19.471146,61.844792,23.350347,상계5동
3,20180404,18.310493,44.169948,13.908589,61.093240,11.546391,상계5동
4,20180405,12.328449,44.779427,8.660138,76.031968,4.514871,상계5동
5,20180406,85.023958,44.463889,7.788090,62.387500,31.271875,상계5동
6,20180407,42.200347,43.912500,6.107222,35.537153,20.613889,상계5동
7,20180408,29.734206,43.689257,4.897619,52.013606,14.741279,상계5동
8,20180409,42.640625,43.969444,8.146632,54.778472,29.408681,상계5동
9,20180410,49.465234,44.017059,15.756773,46.305708,20.978574,상계5동
10,20180411,68.428670,43.651910,14.858283,44.084039,29.141216,상계5동
11,20180412,42.774575,43.559821,14.772287,26.000285,14.549918,상계5동
12,20180413,32.973958,43.768056,15.628611,19.313194,14.314583,상계5동
13,20180414,26.426736,44.589931,10.588507,67.322917,14.002083,상계5동
14,20180415,80.151546,43.356662,11.172460,56.376968,22.658735,상계5동
15,20180416,33.371610,43.647836,12.951284,40.487550,20.855822,상계5동
16,20180417,58.751042,43.596181,14.285174,36.687847,29.036111,상계5동
17,20180418,73.439583,43.561806,14.330868,33.811111,31.342361,상계5동
18,20180419,82.799397,43.550358,15.945421,35.503952,37.138059,상계5동
19,20180420,94.511546,43.583076,19.572543,41.723812,49.724965,상계5동
20,20180421,63.743832,43.485123,20.259916,31.145697,35.406694,상계5동
21,20180422,45.338765,43.436093,17.022521,47.485952,27.983945,상계5동
22,20180423,12.279101,46.166973,10.826867,77.775186,8.450853,상계5동
23,20180424,14.163755,44.648377,13.570778,55.119522,7.191239,상계5동
24,20180425,30.465114,43.616146,15.906688,37.298478,22.048025,상계5동
25,20180426,47.642361,43.604167,16.855799,43.557292,34.714236,상계5동
26,20180427,56.589525,43.726756,17.044724,47.014658,39.127181,상계5동
27,20180428,64.295486,43.677431,17.373889,41.869444,43.654514,상계5동
28,20180429,64.785069,43.035069,17.329896,37.307639,40.185764,상계5동
29,20180430,89.425347,43.494444,20.010000,51.023611,68.629167,상계5동
...,...,...,...,...,...,...,...
4332,20190302,168.077778,50.688889,8.720139,37.034028,114.481944,상계1동
4333,20190303,158.429861,50.590278,10.343056,33.225000,110.376389,상계1동
4334,20190304,247.593750,50.836806,11.745694,37.084722,168.073611,상계1동
4335,20190305,339.211111,50.677778,9.689931,56.572222,253.854861,상계1동
4336,20190306,207.990278,50.840278,9.828194,51.006250,153.993056,상계1동
4337,20190307,56.196528,50.879861,8.795000,47.136111,39.585417,상계1동
4338,20190308,40.888889,50.996528,7.359375,32.904167,21.700694,상계1동
4339,20190309,36.847917,50.623611,8.025556,27.434028,24.593750,상계1동
4340,20190310,51.993056,50.480556,10.588403,27.886806,36.234722,상계1동
4341,20190311,61.929861,50.670833,8.052847,51.268056,39.488889,상계1동
4342,20190312,75.729861,50.695833,5.845833,48.706250,47.799306,상계1동
4343,20190313,35.685417,51.365278,4.728819,30.697222,9.298611,상계1동
4344,20190314,34.350000,50.774306,5.792986,36.265972,16.154167,상계1동
4345,20190315,44.484028,51.114583,6.215000,61.660417,27.704167,상계1동
4346,20190316,43.668056,50.906250,5.338264,63.926389,32.427778,상계1동
4347,20190317,33.417361,50.582639,7.533889,48.772917,21.429167,상계1동
4348,20190318,33.504881,51.152022,8.277336,40.507671,19.463738,상계1동
4349,20190319,61.171528,50.904861,11.061250,44.865972,37.531944,상계1동
4350,20190320,85.995833,51.309722,11.357014,70.186806,64.135417,상계1동
4351,20190321,25.061111,51.254861,9.193056,69.240278,19.810417,상계1동
4352,20190322,30.932639,51.104167,4.983264,36.031944,17.370833,상계1동
4353,20190323,22.850000,50.957639,4.720625,42.975000,14.590278,상계1동
4354,20190324,26.281944,50.284028,5.458056,39.522917,12.754167,상계1동
4355,20190325,44.349306,50.708333,8.439028,51.380556,25.611111,상계1동
4356,20190326,59.702778,51.036111,13.018750,45.731250,34.520833,상계1동
4357,20190327,84.268750,51.698611,13.004167,57.790972,53.477778,상계1동
4358,20190328,76.332639,51.144444,11.358333,43.283333,45.628472,상계1동
4359,20190329,36.411111,50.806944,10.839514,26.743056,16.777778,상계1동
4360,20190330,36.988889,51.284722,6.269931,66.340972,25.668750,상계1동
4361,20190331,35.942361,50.211111,5.710208,44.156944,20.951389,상계1동